<button type="button" class="close" ng-click="cancel();"><i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i></button>

<div class="modal-header">
    <h2 class="modal-title">{{title}}</h2>
    <p style="display:none;" class="col-md-offset-3">
         Les champs portant l'indice 
        <span class="text-danger">*</span>
         sont obligatoires {{product.idcontrat}}
    </p>
</div>

<div class="modal-body">
    <form  name="AgenceForm" class="form-horizontal"  onsubmit="return false;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form-element label="" mod="agence">
                        <select  ng-model="agence.allbanque" id="example-hf-password" name="allbanque" class="form-control dinamique-select"  ng-options="allbanque as allbanque.libelle for allbanque in banqueAll  track by allbanque.id">
                            <option value="{{allbanque.libelle}">{{allbanque.libelle}}</option>
                        </select>
                        <span>BANQUE</span>
                    </form-element>
                    <form-element label="" mod="agence">
                        <input type="text" id="example-hf-password" name="libelleagence" placeholder=""ng-model="agence.libelleagence" class="form-control"  ng-required="true">
                        <label>AGENCE</label>
                    </form-element>
                    <form-element label="" mod="agence">
                        <input type="text" id="example-hf-password" name="ville" placeholder=""ng-model="agence.ville" class="form-control"  ng-required="true">
                        <label>VILLE</label>
                    </form-element>
                    <div class="form-group">
                        <div class="modal-footer col-md-12">
                            <div class="col-sm-4 col-md-offset-2 form-actions">
                                <form-element>
                                    <button type="reset" ng-click="cancel()" class="btn btn-effect-ripple btn-danger">Annuler</button>
                                </form-element>
                            </div>
                            <div class="col-sm-4 form-actions">
                                <form-element>
                                    <button type="submit"ng-click="saveAgence(agence);"ng-disabled="AgenceForm.$invalid || enableUpdate"class="btn btn-sm btn-primary actionsButtons"type="submit"><i class="ace-icon fa fa-check"></i>{{buttonText}}</button>
                                </form-element>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
