<div class="table-responsive">
  <br/>
  <div class="widget">
    <div class="col-md-12">
      <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
        <thead>
          <tr>
            <th class="text-center">
               ID
            </th>
            <th class="text-center">
              Question
            </th>
            <th class="text-center">
              REPONSE(NON/OUI)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="pieces">
            <td class="text-center" colspan="4" style="font-size:.7em !important">
              <img src="img/477.gif" style="width:30px !important;height:30px !important">
            </td>
          </tr>
          <tr ng-repeat="piece in  pieces">
            <td>
              {{piece.idpiece}}
            </td>
            <td>
              {{piece.libellepiece}}
            </td>
            <td class="text-center">
              <label class="switch switch-warning">
                <input type="checkbox" ng-checked="piece.reponses==='OUI'"  ng-click="changerEtatPiece(piece)">
                <span data-toggle="tooltip" title="PIECES FOURNIES" name="reponses" placeholder="" ng-model="piece.reponses"></span>
              </label>
            </td>
            <!-- 
            <td>
              <button class="btn" ng-class="{Actif:'btn-success', Inactif:'btn-danger'}[questionmedicale.etat]" style="width:90px; font-size:.8em"  ng-click="changerEtatQuestion(questionmedicale);">{{questionmedicale.etat}}</button>
            </td>
             -->
          </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="col-sm-2 form-actions">
            <button type="reset" ng-click="cancel()" class="btn btn-effect-ripple btn-danger">Annuler</button>
          </div>
          <div class="col-sm-2 form-actions">
            <button type="submit"ng-click="savePieces(piece);"class="btn btn-sm btn-primary actionsButtons"type="submit"><i class="ace-icon fa fa-check"></i>Valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
