<img src="img/placeholders/layout/lock_full_bg.jpg" alt="Full Background" class="full-bg animation-pulseSlow" style="overflow:hidden !important">
<div id="login-container">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
        <i class="fa fa-cube text-light-op"></i>
         Finex
        <strong>PRET</strong>
    </h1>
    <!-- END Login Header -->
    <!-- Login Block -->
    <div class="block animation-fadeInQuick">
        <!-- Login Title -->
        <div class="block-title">
            <h2>ENTRER VOTRE NOUVEAU MOT DE PASSE</h2>
        </div>
        <form name="passwordForm" class="form-horizontal" role="form" id="form-register" onsubmit="return false;">
            <div class="form-group">
                <div class="col-xs-11 mui-textfield  mui-textfield--float-label">
                    <input type="password" class="form-control" name = "password" placeholder="" ng-model="utilisateurPass.password" required/>
                    <label>Votre nouveau mot de passe</label>
                    <p class="errorMessages" data-ng-show="passwordForm.password.$dirty && passwordForm.password.$invalid && passwordForm.password.$error.required">
                        <i class="hi hi-warning-sign" style="color:red"></i>
                         Entrer un mot de passe
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-11 mui-textfield mui-textfield--float-label">
                    <input type="password" class="form-control" name="password2" placeholder="" ng-model="utilisateurPass.password2" password-match="utilisateurPass.password" required/>
                    <label>Confirmer votre nouveau mot de passe</label>
                    <p class="errorMessages" data-ng-show="passwordForm.password2.$dirty && passwordForm.password2.$error.required">
                        <i class="hi hi-warning-sign" style="color:red"></i>
                         Entrer votre mot de passe
                    </p>
                    <p class="errorMessages" data-ng-show="passwordForm.password2.$dirty && passwordForm.password2.$error.passwordNoMatch && !passwordForm.password2.$error.required">
                         Mots de passes differents.
                    </p>
                </div>
                <!-- ng-disabled="utilisateur.uid >0" -->
            </div>
            <div class="form-group">
                <div class="col-xs-2 form-actions">
                    <button ng-click="cancelPasswordInit(uidVerif)" class="btn btn-effect-ripple btn-danger">Annuler</button>
                </div>
                <div class="col-xs-5 form-actions">
                    <button type="submit" class="btn btn-effect-ripple btn-success" ng-click="EnregistrementPassword(utilisateurPass);"ng-disabled="passwordForm.$invalid || enableUpdate"class="btn btn-sm btn-primary actionsButtons"type="submit">Modification de mot de passe</button>
                </div>
            </div>
        </form>
    </div>
