<div class="row">
  <!--  
  <div class="chargementClass" ng-show="importProgress === true">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; border-radius:20px" import-progress='importProgress'>
      Téléchargement en cours
    </div>
  </div>
   -->
  <div class="progress progress-striped active chargementClass" ng-show="importProgress === true">
    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      Téléchargement en cours
    </div>
  </div>
  <div class="col-sm-6 col-lg-8 ">
    <div href="" class="widget">
      <div class="widget-content widget-content-mini text-right clearfix themed-background-muted">
        <div class=" pull-left ">
          <form name="EtattForm" onsubmit="return false;" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group"  style="padding:10px !important;">
              <label  class="custom-file-input"><input type="file" name="file" file-model="myFile" id="fichier"/></label>
              <input id="uploadFile" placeholder="Pas de fichier Excel" disabled="disabled" style="width:300px !important;"/>
              <button ng-click="uploadFile(myFile)" class="btn btn-effect-ripple importButton btn-info"  style="margin-left:20px !important;">Valider</button>
              <button  type="reset"class="btn btn-effect-ripple btn-danger"  style="margin-left:20px !important;">Annuler</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block full">
  <div class="block-title"></div>
  <div class="row">
    <div class="col-md-2 mui-textfield--float-label mui-select">
      Pages
      <select ng-model="entryLimit" class="form-control">
        <option>50</option>
        <option>100</option>
        <option>200</option>
        <option>500</option>
        <option>1000</option>
      </select>
    </div>
    <div class="col-md-4 mui-textfield mui-textfield--float-label filterContratClass">
      <input type="text" ng-model="search" ng-change="filter()" placeholder="" class="form-control" />
      <label>Filtrer</label>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <button  class="btn btn-effect-ripple btn-info"  ng-disabled="importProgress === true" ng-click="modifierSouscription()"style="margin-top:30px !important; width:200px; padding:10px; font-weight:bold; font-size:1em">VALIDER</button>
    </div>
  </div>
  <div class="table-responsive">
    <br/>
    <!-- Chart Widget class=""-->
    <div class="widget">
      <table id="example-datatable" class="table table-striped table-bordered table-vcenter export-table">
        <thead>
          <tr>
            <!-- {{contratImprimer}} -->
            <th class="text-center" style="width: 50px;">
              <a >ID</a>
            </th>
            <th>
              <a >N° de Contrats </a>
            </th>
            <th>
              <a >Reference Credit</a>
            </th>
            <th>
              <a >Nom</a>
            </th>
            <th>
              <a >Categorie  </a>
            </th>
            <th>
              <a >Date de déblocage <i class="glyphicon glyphicon-sort"></i></a>
            </th>
            <th>
              <a >Date Last Echeance <i class="glyphicon glyphicon-sort"></i></a>
            </th>
            <th>
              <a >Capital</a>
            </th>
            <th>
              <a >Durée</a>
            </th>
            <th>
              <a >Prime d'Assurance</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="affichageFichier">
            <td class="text-center" colspan="10" style="font-size:.7em !important">
              <i class="fa fa-spinner fa-2x fa-spin text-muted" ></i>
            </td>
          </tr>
          <tr ng-repeat="affichage in filtered = (affichageFichier | filter:search | orderBy :'-idtemp' :reverse :predicate) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" idtemp ="{{affichage.idcontrat}}">
            <!--  
            <tr ng-repeat="product in products">
               -->
              <td class="text-center">
                {{affichage.idtemp}}
              </td>
              <td>
                <strong>{{affichage.numcompte}}</strong>
              </td>
              <td>
                <strong>{{affichage.referencecredit}}</strong>
              </td>
              <td>
                {{affichage.nom}}
              </td>
              <td>
                {{affichage.categorie}}
              </td>
              <td>
                {{affichage.datedeblocage | date: 'shortDate'}}
              </td>
              <td>
                {{affichage.dateleastecheance | date: 'shortDate'}}
              </td>
              <td>
                {{affichage.capital | number}}
              </td>
              <td>
                {{affichage.duree}}
              </td>
              <td>
                {{affichage.prime | number}}
              </td>
            </tr>
          </tbody>
        </table>
        <pagination total-items="filteredItems" ng-model="currentPage" on-select-page="setPage(page)" ng-change="pageChanged()" items-per-page="entryLimit" class="pagination-small"  previous-text="Précedent" next-text="Suivant" max-size="10"></pagination>
      </div>
    </div>
