<div id="main-container" style="min-height:600px;">
  <ng:include src="'layout/header.html'"></ng:include>
  <div id="page-content">
    <!-- Table Styles Header -->
    <div class="content-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="header-section">
            <h1>{{menu}}<a href="#/{{nomcourt}}" style="text-decoration: none">{{sousmenu}}</a></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 col-md-4">
        <div href="" class="widget" ng-click="openproduitPop(produit);" style="cursor:pointer">
          <div class="widget-content widget-content-mini text-right clearfix">
            <div class="widget-icon pull-left btn-validation">
              <i class="fa fa-mortar-board text-light-op"></i>
            </div>
            <span class="text-muted">AJOUTER UN NOUVEAU CONTRAT</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-md-4">
        <div href="" class="widget"  ng-click="simulationProduit(produit);" style="cursor:pointer">
          <div class="widget-content widget-content-mini text-right clearfix">
            <div class="widget-icon pull-left themed-background">
              <i class="gi gi-cardio text-light-op"></i>
            </div>
            <span class="text-muted">FAIRE UNE SIMULATION</span>
          </div>
        </div>
      </div>
    </div>
    <div class="block full">
      <div class="block-title" style="padding-right:10px;"></div>
      <div class="row">
        <div class="col-sm-2 col-lg-2 col-md-2 mui-textfield--float-label mui-select">
          Pages
          <select ng-model="entryLimit" class="form-control">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4  mui-textfield mui-textfield--float-label filterContratClass">
          <input type="text" ng-model="search" ng-change="filter()" placeholder="" class="form-control" />
          <label>Filtrer</label>
        </div>
        <div class="col-md-4 mui-textfield mui-textfield--float-label filterContratClass">
          <input type="search" ng-model="critereRecherche">
          <label>Recherche</label>
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2">
          <button  class="btn btn-effect-ripple btn-success"  ng-click="searchContrat(critereRecherche)"style="margin-top:30px !important;">Rechercher</button>
        </div>
      </div>
      <div class="table-responsive">
        <br/>
        <!-- Chart Widget class=""-->
        <div class="widget">
          <table id="example-datatable" class="table table-striped table-bordered table-vcenter export-table">
            <thead>
              <tr>
                <!-- {{contratImprimer}} -->
                <th>
                  <div style="text-decoration:none">
                    N° de Police 
                  </div>
                </th>
                <th>
                  <div style="text-decoration:none">
                    Nom du souscripteur
                  </div>
                </th>
                <th>
                  <div style="text-decoration:none">
                    Prénom du souscripteur
                  </div>
                </th>
                <th>
                  <div style="text-decoration:none">
                    Date D'effet  
                    <i class="glyphicon glyphicon-sort"></i>
                  </a>
                </th>
                <th>
                  <div style="text-decoration:none">
                    Date fin
                  </div>
                </th>
                <th>
                  <div style="text-decoration:none">
                    Produit
                  </div>
                </th>
                <th>
                  <div style="text-decoration:none">
                    Statut
                  </div>
                </th>
                <th>
                  <div>
                    Action
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-hide="produits">
                <td class="text-center" colspan="7" style="font-size:.7em !important">
                  <i class="fa fa-spinner fa-2x fa-spin text-muted" ></i>
                </td>
              </tr>
              <tr ng-repeat="produit in filtered = (produits | filter:search | orderBy :'-idcontrat' :reverse :predicate) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" id ="{{produit.idproduit}}" animate-on-change='produit.numcontrat + produit.nom + produit.prenom + produit.dateeffet + produit.capital + produit.duree + produit.primeassurance+ produit.datenaissance + produit.differe + produit.remboursement +produit.primeassurance +produit.profession + produit.reglementprime + produit.periodicite + produit.sexe'ng-animate=" 'animate'">
                <!--  
                <tr ng-repeat="produit in produits">
                   -->
                  <td>
                    <strong>{{produit.libelleproduit}}</strong>
                  </td>
                  <td>
                    {{produit.nom}}
                  </td>
                  <td>
                    {{produit.prenom}}
                  </td>
                  <td>
                    {{produit.dateeffet | date: 'shortDate'}}
                  </td>
                  <td>
                    {{produit.dateecheance | date: 'shortDate'}}
                  </td>
                  <td>
                    {{produit.dureecontrat}}
                  </td>
                  <td>
                    <button class="btn" ng-class="{SOUSCRIPTION:'btn-success', ANNULATION:'btn-danger'}[produit.statut]" ng-click="changerStatusProduit(produit);" style="width:100px; font-size:.7em">{{produit.statut}}</button>
                  </td>
                  <td class="text-center">
                    <a href="" data-toggle="tooltip" title="Modifier le contrat" class="btn btn-effect-ripple btn-xs btn-validation" ng-click="openproduitPop(produit);"><i class="fa fa-pencil"></i> Modifier</a>
                    <a data-toggle="tooltip" title="Delete User" alt="produit"class="btn btn-effect-ripple btn-xs btn-danger" style="display:none"><i class="fa fa-times"ng-click="effacercontrat(produit);"></i></a>
                    <a data-toggle="tooltip" title="Imprimer le contrat" class="btn btn-effect-ripple btn-xs btn-regle" style="color:#fff" ng-click="printEducBia(produit);" ><i class="fa fa-print"></i> Imprimer</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination total-items="filteredItems" ng-model="currentPage" on-select-page="setPage(page)" ng-change="pageChanged()" items-per-page="entryLimit" class="pagination-small"  previous-text="Précedent" next-text="Suivant" max-size="10"></pagination>
          </div>
        </div>
      </div>
      <ng:include src="'layout/right.html'"></ng:include>
      <ng:include src="'layout/left.html'"></ng:include>
